<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116669879574-nkhgvr0euirev634uoh19d5098r56psa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116669879574-nkhgvr0euirev634uoh19d5098r56psa</string>
	<key>API_KEY</key>
	<string>AIzaSyDG9pNJMITbqqsVP1NJqBjVOi7O36lbZnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>116669879574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>routebuddyapp</string>
	<key>PROJECT_ID</key>
	<string>routebuddy-651ca</string>
	<key>STORAGE_BUCKET</key>
	<string>routebuddy-651ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116669879574:ios:2d7a79b465bc3eff19ec37</string>
</dict>
</plist>